@charset "utf-8";

*{margin:0; padding: 0; box-sizing: border-box;}
ul,li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{vertical-align: baseline;}
table{border-collapse: collapse;}
input{border: 1px solid red; color: red;}
body{font-family: "홍길동" , "맑은 고딕 , Arial";
background: url(../images/s_images/body_bg.png);}

/* 웨폰트 css 만들기 */

@font-face{font-family: "홍길동";
            src: url("../webfont/NanumGothic.woff");}